html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationItem {
  /* background: #fff; */
  /* border: 2px solid #666; */
  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  /* background: #fff; */
  border: none;
  padding: 10px;
  /* color: blue; */
  /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.4); */
  margin: 0 10px;
  cursor: pointer;
}

.paginationItem.active {
  border: 6px solid rgb(255, 255, 255);
  /* color: #888; */
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}

.messagesContainer {
  align-items: center;
  justify-content: center;
}

.messagesList {
  background-color: rgba(1, 0, 68, 0.892);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 550px;
  overflow: auto;
  position: relative;
  padding: 20px;
  border-radius: 50px;
}

.messageItem {
  list-style-type: none;
  padding: 0;
}

#breath-light {
  justify-self: center;
  width: 120px;
  height: 80px;
  margin-bottom: 35px;
  border-radius: 10px;
  background: white;

  box-shadow: 0 0 60px #ffffff;

  -webkit-animation: breath 6s;
  animation: breath 6s;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes breath {
  0% {
    opacity: 0.1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
@-o-keyframes breath {
  0% {
    opacity: 0.1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
@-moz-keyframes breath {
  0% {
    opacity: 0.1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes breath {
  0% {
    opacity: 0.1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

#breath-light:hover {
  -webkit-animation: breath 6s;
  animation: breath 6s;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@media only screen and (max-width: 425px) {
  .grid {
    width: 99%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    align-self: center;
    align-items: center;
    justify-content: space-between;
  }
  .grid > div {
    margin: 20px;
  }
}
