html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.messagesContainer {
  /* position: relative; */
  /* top: 75px; */
  /* bottom: 50px; */
  /* left: 10%; */
  /* right: 10%; */
  /* background: rgba(0, 0, 0, 0.941); */
  /* padding: 0.25rem; */
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* box-sizing: border-box; */
  /* backdrop-filter: blur(10px); */
}

.messagesList {
  background-color: rgba(1, 0, 68, 0.892);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  width: 100%;
  height: 550px;
  overflow: auto;
  position: relative;
  padding: 20px;
  border-radius: 50px;
}

.messageItem {
  list-style-type: none;
  padding: 0;
}
